.container {
    background-color: #ffa500;
    border: 5px solid blue;
    display: flex;
    width: 800px;
    height: 100px;
}

.groupOne,
.groupTwo,
.groupThree {
    flex: 1;
    border: 5px solid teal;
}



.groupOne,
.groupThree {
    display: flex;
}

.groupOne .child,
.groupThree .child {
    flex: 1;
    margin: 3px;
    border: 3px dashed salmon;
    text-align: center;
}

.groupTwo {
    border: 5px solid rebeccapurple;
}